<app-header></app-header>
<main>
  <h1>Hello Angular</h1>
  <p>My name is {{name}} , I am {{age}} years old. 
    I am a {{profession}}</p>
    <hr/>
    <app-example></app-example>
    <hr/>
    <app-counter></app-counter>
    <hr/>
    <h2>Parent-Child Component communication</h2>
    <!-- the first [message] refer to the @Input in child. the second message is our variable -->
    <!--  When the (messageEvent) is invoked by child, the receiveMessage($event) function will be called -->
    <!-- with paremeter $event from where we can retrieve the passed message -->

  <input type="text" placeholder="Enter message" [(ngModel)]="message">
   <app-child [message]="message" (messageEvent)="receiveMessage($event)"></app-child>


   <p *ngIf="messageFromChild != ''">Message received: {{messageFromChild}}</p>
   <hr/>
   <h2>{{title}}</h2>

   <p>Original date: {{currentDate}}</p>
   <p>Formatted date: {{currentDate | date:'fullDate'}} - {{currentDate|date:'shortTime'}}</p>

   <hr/>
   <p>Original Price: {{amount}}</p>
   <!-- USD currency, Symbol '$' 1.2-2 ( . and , formatting)  -->
   <p>Formatted Price: {{amount | currency:'USD':'symbol':'1.2-2'}}
   </p>
   <hr>
   <p>Original text: {{text}}</p>
   <p>Uppercase: {{text | uppercase}}</p>
   <p>Lowecase: {{text | lowercase}} </p>
   <hr/>
   <p>Example with custom pipe</p>
   <p>{{title | exclamation}}</p>
   <p>{{title | exclamation:5}}</p>
   <hr>
   <app-product-list></app-product-list>


</main>